<ng-container *ngIf="isReady; else loading">
  <div class="container"
  >
    <div class="icon">
      <img [src]="rankIcon">
    </div>
    <div class="rating">
      <div class="small">{{rank}}</div>
      <div class="bold">{{rankRating}}RR</div>
    </div>
    <div class="winrate">
      <div class="small">WIN%</div>
      <div class="bold">{{winrate}}%</div>
    </div>
    <div class="winlose">
      <div class="small">TODAY</div>
      <div class="bold">{{win}}W-{{lose}}L</div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>


