<ng-container *ngIf="name && tag; else setting">
  <app-overlay
    [name]="name"
    [tag]="tag"
  ></app-overlay>
</ng-container>
<ng-template #setting>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name" />
    <label for="tag">Tag: </label>
    <input id="tag" type="text" formControlName="tag" maxlength="5"/>
    <label for="color">Color: </label>
    <input id="color" type="text" formControlName="color"/>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</ng-template>


