<ng-container *ngIf="name && tag; else setting">
  <app-overlay
    [name]="name"
    [tag]="tag"
  ></app-overlay>
</ng-container>
<ng-template #setting>
  <div class="setting">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name" spellcheck="false"/>
      </div>
      <div>
        <label for="tag">Tag: </label>
        <input id="tag" type="text" formControlName="tag" maxlength="5" spellcheck="false"/>
      </div>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
  </div>
</ng-template>


